# Redirect traffic to appserver

server {
    listen 80 default_server;
    server_name webserver;

    location / {
        proxy_pass http://10.138.0.44;
        proxy_set_header Authorization "";
        proxy_read_timeout 90s;
    }
}